{% extends "sem4/index.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sem4/login.css' %}" />
{% endblock styles %}

{% block content %}
    <div class="modal">
        <h1 class="modal__header">
            Login Page
        </h1>

        <form method="post" action="" class="form">
            {% csrf_token %}

            <div class="form__row">
                <label class="form__label">
                    username
                    <input type="text" class="form__input" name="username">
                </label>
            </div>

            <div class="form__row">
                <label class="form__label">
                    password
                    <input type="password" class="form__input" name="password">
                </label>
            </div>

            <input type="submit" value="Войти">
        </form>
    </div>
{% endblock content %}
